<%- include("../../layout/header")%>
<%- include("../../layout/side-bar")%>
        
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
            <li class="active">Danh sách sản phẩm</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Danh sách sản phẩm</h1>
        </div>
    </div><!--/.row-->
    <div id="toolbar" class="btn-group">
        <a href="/admin/product/add" class="btn btn-success">
            <i class="glyphicon glyphicon-plus"></i> Thêm sản phẩm
        </a>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table 
                        data-toolbar="#toolbar"
                        data-toggle="table" class="table table-hover" >

                        <thead>
                        <tr>
                            <th data-field="id" data-sortable="true">ID</th>
                            <th data-field="name"  data-sortable="true">Tên sản phẩm</th>
                            <th data-field="price" data-sortable="true">Giá</th>
                            <th>Ảnh sản phẩm</th>
                            <th>Trạng thái</th>
                            <th>Danh mục</th>
                            <th>Hành động</th>
                        </tr>
                        </thead>
                        <tbody>
                            <% products.forEach((product, index) => { %>
                                <tr data-index="0">
                                  <td style=""><%= index + 1 %></td>
                                  <td style=""><%= product.prd_name %></td>
                                  <td style=""><%= product.prd_price %> vnd</td>
                                  <td style="">
                                    <img
                                      width="130"
                                      height="180"
                                      src="/assets/admin/img/<%= product.prd_image %>"
                                    />
                                  </td>
                                  <td style="">
                                    <% if (product.prd_status === 1) { %>
                                    <span class="label label-success">Còn hàng</span>
                                    <% }else { %>
                                    <span class="label label-danger">Hết hàng</span>
                                    <% } %>
                                  </td>
                                  <td style=""><%= product.cat_id.cat_name%>
                                      
                                    </td>
                                  <td class="form-group" style="">
                                    <a href="/admin/product/edit/<%= product._id%>" class="btn btn-primary"
                                      ><i class="glyphicon glyphicon-pencil"></i
                                    ></a>
                                    <a href="/admin/product/delete/<%= product._id%>" class="btn btn-danger"
                                      ><i class="glyphicon glyphicon-remove"></i
                                    ></a>
                                  </td>
                                </tr>
                                <% }) %>
                             </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <% range.map((i)=>{%>
                                <li class="page-item ">
                                <a class="page-link" href="/admin/product?page=<%= i%>"><%= i%></a></li>
                            <% })%>
                            
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div><!--/.row-->	
</div>	<!--/.main-->
	

<%- include("../../layout/footer")%>


	
